# Other requirements
requests
python-decouple==3.5
gunicorn
whitenoise

# Django
django

# Databases
psycopg2-binary
dj-database-url

# Distributed tasks
celery
redis
django-celery-beat
django-celery-results
django-redis
